@import "tailwindcss";

html {
  width: 100%;
  min-height: 100%;
}

body {
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  background: #f7f9ff;
}

#root {
  width: 100%;
  min-height: 100vh;
}